.grid {
    border: 1px solid gray;
    height: 252px;
    width: 294px;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .grid div {
    
    width: 40px;
    height: 40px;
    
  }
  
  .player-one {
    background-color: red;
    border-radius: 50%;
  }
  
  .player-two {
    background-color: blue;
    border-radius: 50%;
  }

  